@inject NavigationManager NavManager
@using Microsoft.Maui.Storage 

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TechDispoB</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        
        @if (isAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@AppRoutes.Home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@AppRoutes.Missions">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mission
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@AppRoutes.Login">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            <div class="nav-item px-3 mt-3">
                <button class="btn btn-danger w-100" @onclick="Logout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Déconnexion
                </button>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@AppRoutes.Login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Connexion
                </NavLink>
            </div>
        }
    </nav>
</div>


@code {
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var token = await SecureStorage.GetAsync("token");
        isAuthenticated = !string.IsNullOrEmpty(token);
    }

    private async Task Logout()
    {
        await SecureStorage.SetAsync("token", ""); // Supprime le token
        isAuthenticated = false;
        Console.WriteLine("🔓 Déconnexion réussie.");
        NavManager.NavigateTo(AppRoutes.Login, forceLoad: true);
    }
}