@page "/"
@using TechDispoB.Services
@using TechDispoB.Services.Interfaces
@inject IAppService AppService

<h1>Accueil</h1>

<h3>Base de donnée: @connectionMessage</h3>

<button @onclick="GoToMissions">Aller aux missions</button>

@code {
    private string connectionMessage = "En attente de la vérification...";

    protected override async Task OnInitializedAsync()
    {
        await CheckDatabaseConnection();

    }

    private async Task CheckDatabaseConnection()
    {
        try
        {
            var response = await AppService.CanConnectToDatabase();
            connectionMessage = $"📡 {response.Message}";
        }
        catch (Exception ex)
        {
            connectionMessage = $"⚠️ Erreur: {ex.Message}";
        }
    }
    private async Task GoToMissions()
    {
        Console.WriteLine("Navigation test vers /missions");
        // Navigation.NavigateTo(AppRoutes.Missions);
        await Shell.Current.GoToAsync("//missions-list-page");
    }

}
