@page "/"
@using TechDispoB.Services
@using TechDispoB.Services.Interfaces
@inject IAppService AppService
@inject NavigationManager Navigation

<h1>Accueil</h1>

<h3>Base de donnée: @connectionMessage</h3>

<button @onclick="GoToMissions">Aller aux missions</button>

@code {
    private string connectionMessage = "En attente de la vérification...";

    protected override async Task OnInitializedAsync()
    {
        await CheckDatabaseConnection();
    }

    private async Task CheckDatabaseConnection()
    {
        bool canConnect = await AppService.CanConnectToDatabase();
        connectionMessage = canConnect ? "Connecté à la base de données." : "Impossible de se connecter à la base de données.";
    }
    private async Task GoToMissions()
    {
        Console.WriteLine("Navigation test vers /missions");
        // Navigation.NavigateTo(AppRoutes.Missions);
        await Shell.Current.GoToAsync("//missions-list-page");
    }

}
